#title{
  border-radius: 10px;
  margin-bottom: 10px;
  text-align:center;
  width: 210px;
  color:black;
  font-weight: bolder;
  border: solid black 1px;
  }
  .button
  {
  border-radius: 10px;
  background-color:burlywood;
  color: black;
  border-color:burlywood;
  width:100%;
  font-weight: bolder;
  }
  input[type="text"]
  {
  border-radius: 10px;
  text-align: right;
  background-color:white;
  border-color: black ;
  width:100%
  }